/* custom variables for the colors */
:root{
    --aries: #f7dc97;
    --taurus: #6186bc;
    --gemini: #eaa0a0;
    --cancer: #915bce;
    --leo: #c46a4b;
    --virgo: #e6aeaf;
    --libra: #79b785;
    --scorpio: #e58848;
    --sagittarius: #cc77e0;
    --capricon: #b25f36;
    --aquarius: #6cd3b8;
    --pisces: #447dd8;
}

body {
    min-height: 100vh;
    background-image: url(images/bg-01.png);
    background-size: cover;
    background-position: center;
    font-family: 'El Messiri', sans-serif;
}

#inner-container{
    min-height: 80vh;
}

.input-group select{
    background-color: transparent;
    border-radius: 0;
    border: #fff;
    border-bottom: 2px solid white;
    color: rgba(255, 255, 255, .75);
    font-size: 24px;
}

#select-form:focus-visible{
    outline: none;
}

.input-group option{
    background-color: rgba(0, 0, 0, .85);
    color: white;
    font-size: 16px;
}