/* custom variables for the colors */
:root{
    --aries: #f7dc97;
    --taurus: #6186bc;
    --gemini: #eaa0a0;
    --cancer: #915bce;
    --leo: #c46a4b;
    --virgo: #e6aeaf;
    --libra: #79b785;
    --scorpio: #e58848;
    --sagittarius: #cc77e0;
    --capricon: #b25f36;
    --aquarius: #6cd3b8;
    --pisces: #447dd8;
}

body {
    min-height: 100vh;
    background-image: url(images/bg-01.png);
    background-size: cover;
    background-position: center;
    font-family: 'El Messiri', sans-serif;
}

p{
    margin: 0;
}

#inner-container{
    min-height: 80vh;
}

.input-group select{
    background-color: transparent;
    border-radius: 0;
    border: #fff;
    border-bottom: 2px solid white;
    color: rgba(255, 255, 255, .75);
    font-size: 24px;
}

#select-form:focus-visible{
    outline: none;
}

.input-group option{
    background-color: rgba(0, 0, 0, .85);
    color: white;
    font-size: 16px;
}

#img-container img{
    width: 65%;
    height: auto;
}

#output{
    width: 70vw;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 12px;
}

.img-caption{
    font-size: 1.5rem;
}

.text-container {
    font-size: 1.35rem;
}

.curr-date {
    font-size: 1.1rem;
    margin-bottom: .75rem;
}

@media screen and (max-width: 576px) {
    #image-cont{
        margin-bottom: .75rem;
    }

    .others{
        flex-direction: column;
    }
}